.main_div{
border: 1px black;
width: 15%;
height: 200px;

}
.main_div img{
  border: 2px solid green ;
  width: 20%;
  height: 100px;


}

.main_div h3{
  color:black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
